


.email-input,
.password-input {

    height: 78px;
    
    font-size: 22px;
    color: 38LO8F; 
    border: none;
    border-bottom: 2px solid #000; 
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.login-button {
    height: 51px;
    /* font-size: 24px; */
    font-size: 24px;
    background-color: #78FAC5; 
    color: #FFF; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: 51px; 
}